// rename this to robot_pins.h and adjust numbers for your configuration

// driver pins IN1/2 are for left wheel and IN3/4 are for right wheel
// just have to figure out which one is forward ahd which is back

#define LEFT_FWD_PIN 7
#define LEFT_BACK_PIN 6 
#define RIGHT_FWD_PIN 5
#define RIGHT_BACK_PIN 4

#define TRIGGER_PIN 12
#define ECHO_PIN 13

